@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width:5px;
    display: none;
  }

  .semi-circle {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .semi-circle::before {
    content: "";
    display: block;
    padding-top: 50%; /* Adjust as needed to control the height of the semi-circle */
  }
  
  .semi-circle img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100% 100% 0 0 / 100% 100% 0 0;
  }
  
  /* Media Query for Smaller Devices */
  @media (max-width: 576px) {
    .semi-circle img {
      border-radius: 50%;
      min-width: 200px;
      min-height: 200px;
      max-width: 300px;
      max-height: 300px;
    }
  }
  


  
  